<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>공지사항 보기</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <p>[[${notice.title}]]</p>
        ----------------------------------
        <p>[[${notice.content}]]</p>
        ----------------------------------
        <p>작성일: <span th:text="${#temporals.format(notice.regDate, 'yyyy-MM-dd')}">작성일</span></p>
        <p>작성일: <span th:text="${#temporals.format(notice.updateTime, 'yyyy-MM-dd')}">수정일</span></p>
        <a href="/notice/list" class="btn btn-primary">목록으로 돌아가기</a>
        <a th:href="@{/notice/modify/{nno}(nno=${notice.nno})}" class="btn btn-primary">수정</a>
        <a th:href="@{/notice/delete/{nno}(nno=${notice.nno})}" class="btn btn-danger">삭제</a>
    </div>

</div>

</body>
</html>
