<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:fragment="header">

    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo" ><a href="/">배워서 남주냐</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
<!--             <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="/board/list">자유게시판</a></li>
                    <li><a class="nav-link scrollto o" href="/notice/list">공지사항</a></li>
                    <li><a class="nav-link scrollto" href="/adm/list">학원찾기</a></li>
                    <li><a class="nav-link scrollto" href="/user/myinfo" sec:authorize="isAuthenticated()">마이페이지</a></li>
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <a>
                            <span class="header-name"></span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li><a href="/user/myinfo">마이페이지</a></li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="nav-link scrollto" href="/user/logout">로그아웃</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto"sec:authorize="isAnonymous()" href="/user/new">회원가입</a></li>
                    <li><a class="getstarted scrollto" sec:authorize="isAnonymous()" href="/user/login">로그인</a></li>


                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->



        </div>
    </header>
    <script>

        let email = {
            email:"[[${#authentication.getName()}]]"
        }
        console.log(email)
        if (email != null || email != "" ){
            $.ajax({
                url : "/user/name",
                type : 'post',
                dataType : 'text',
                data :email,
                success : function (data) {
                    console.log(data)
                    $(".header-name").text(data)
                },
                error : function (result, status, error) {

                },


            })
        }

        //
    </script>

    </div>


</body>
</html>