

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div layout:fragment="content">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">
                <h3>[[${dto.title}]]</h3>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th scope="col">
                [[${dto.content}]]
            </th>
        </tr>
        </tbody>

    </table>

</div>


</body>
</html>
